@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent-2: #eff7ff;
  --color-accent-1: #e8db7d;
  --color-variation-1: #283d3d;
  --color-variation-2: #558c8c;
  --color-variation-3: #158e8e;
}
