@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent-1: #f6bd22;
  --color-accent-2: #f1b40c;
  --color-accent-3: #c5981c;
  --color-variation-1: #182224;
  --color-variation-2: #46413b;
}

@font-face {
  font-family: Trailmade;
  src: url(../public/fonts/TRAILMADE.OTF);
  weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Trailmade;
}
